<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="error">
<div class="error-container">
    <div class="error-title">404</div>
    <p class="error-message">Sorry, the page you are looking for does not exist.</p>
    <div class="error-action">
        <a href="/home">Go back to the homepage</a>
    </div>
</div>
</body>
</html>
